/*FONTES*/
@font-face {
    font-family: pasajero;
    src: url("../style/fonts/Pasajero.otf");
}

@font-face {
    font-family: trench;
    src: url("../style/fonts/trench.otf");
}
/*FIM FONTES*/

/*GERAL*/
body{
    background-color: #b3cde0;
    height: 100vh;
}

.nomePagina{
    font-size: 40px;
    padding-top: 40px;
    font-family: pasajero;
    background: -webkit-linear-gradient(#314755, #4e4376);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pb-20{
    padding-bottom:120px;
}
.table-responsive {height:90%}
/*FIM GERAL*/

/*HEADER*/
nav{
    background-color: rgba(52, 73, 94,1.0);
    border-radius: 0px !important;
    margin: 0px !important;
}

nav li{
    display: inline !important;
}

nav a, nav span{
    font-family: pasajero;
    color:rgba(236, 240, 241,1.0);
}

nav a:link{
    color:rgba(236, 240, 241,1.0);
     background-color: transparent !important;
}

nav a:active{
    background-color: transparent !important;
}   

nav a:visited{
    color:rgba(236, 240, 241,1.0);
}

nav a:hover{
    color: rgba(149, 165, 166,1.0);
    background-color: transparent !important;
}

.img-logo{
    width: 40px;
}



/*FOOTER*/
footer{
    padding: 1rem;
    background-color: rgba(52, 73, 94,1.0);
    font-family: pasajero;
    color:rgba(236, 240, 241,1.0);
}

/*INDEX*/
.conteudo_index{
  margin-top: 8%;
  
}


.charts{
    font-family: trench;
    font-size: 30px;
    font-weight: bolder;
}

.carousel-control.left, .carousel-control.right {
  background: none !important;
  outline: 0;
  width: 30px;
 }
.carousel .carousel-control {
  visibility: hidden;
}
.carousel:hover .carousel-control {
  visibility: visible;
}

/*REGA AUTOMATICA*/
label{
    font-family: trench;
    font-size: 30px;
    font-weight: bolder;
}

input{
    font-family: trench;
    font-size: 20px;
    font-weight: bolder;
}

.main-rega-automatica{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form-rega-automatica{
    padding:20px;
}

.form-rega-automatica div, .form-rega-automatica label{
    padding: 0 !important;
}

button[type="submit"]{
    font-family: trench;
    font-size: 20px;
    font-weight: bolder;
    background-color: transparent;
    border-radius: 20px 20px;
    color: #000;
}


div.pager {
    text-align: center;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #c00;
}